<%= link_to '<-- Back', students_path %>
</br>
<%= form_for(@student) do |f| %>
    <%= f.label :name %> </br>
    <%= f.text_field :name %> </br>
    <%= f.label :username %> </br>
    <%= f.text_field :username %> </br>    
    <%= f.label :age %> </br>
    <%= f.text_field :age %> </br>
    <%= f.label :kelas %> </br>
    <%= f.text_field :kelas %> </br>     
    <%= f.label :address %> </br>
    <%= f.text_field :address %> </br>     
    <%= f.label :city %> </br>
    <%= f.text_field :city %> </br>     
    <%= f.label :nik %> </br>
    <%= f.text_field :nik %> </br>          

    </br>



    <%= f.submit "Save" %>
<% end %>