<% if flash[:notice].present? %>
    <%= flash[:notice] %>
    </br>
<% end %>

<%= link_to 'New student', new_student_path %>

</br>
</br>
<table>
    <tr>
        <td>Student ID</td>
        <td>Name</td>
        <td>Username</td>
        <td>Age</td>
        <td>Class</td>
        <td>Address</td>
        <td>City</td>
        <td>NIK</td>
    </tr>
    <% @students.each do |student| %>
        <tr>
            <td><%= link_to "#{student.id}", student_path(student) %></td>
            <td><%= student.name %></td>
            <td> <%= student.username %></td>
            <td> <%= student.age %></td>
            <td> <%= student.kelas %></td>
            <td> <%= student.address %></td>
            <td> <%= student.city %></td>
            <td> <%= student.nik %></td>
            <td> <%= link_to 'Detail', student_path(student) %> | <%= link_to 'Edit', edit_student_path(student) %></td> 
            <td> <%= link_to 'Delete', student_path(student) , method: :delete, data: {confirm: 'Are you sure?'} %> </td>
        </tr>    
    <% end %>
</table>

