<%= link_to '<-- Back', students_path %>
</br>
Name   :   <%= @student.name %> </br>
Username   :   <%= @student.username %> </br>
Age   :   <%= @student.age %>  </br>
Kelas :   <%= @student.kelas %> </br>
Address :   <%= @student.address %> </br>
City :   <%= @student.city %> </br>
Nik :   <%= @student.nik %> </br>

<% if flash[:notice].present? %>
    <%= flash[:notice] %>
<% end %>