<% if flash[:notice].present? %>
    <%= flash[:notice] %>
    </br>
<% end %>
<%= link_to 'New teacher', new_teacher_path %>

</br>
</br>
<table>
    <tr>
        <td>Nik</td>
        <td>Name</td>       
        <td>Age</td>
        <td>Class</td>   
        <td>Mapel</td>
    </tr>
    <% @teachers.each do |teacher| %>
        <tr>
            <td><%= link_to "#{teacher.nik}", teacher_path(teacher) %></td>
            <td><%= teacher.name %></td>            
            <td> <%= teacher.age %></td>
            <td> <%= teacher.kelas %></td>      
            <td> <%= teacher.mapel %></td>         
            <td> <%= link_to 'Detail', teacher_path(teacher) %> | <%= link_to 'Edit', edit_teacher_path(teacher) %></td> 
            <td> <%= link_to 'Delete', teacher_path(teacher) , method: :delete, data: {confirm: 'Are you sure?'} %> </td>
        </tr>    
    <% end %>
</table>

