<%= link_to '<-- Back', teachers_path %>
</br>
NIK :   <%= @teacher.nik %> </br>
Name   :   <%= @teacher.name %> </br>
Age   :   <%= @teacher.age %>  </br>
Kelas :   <%= @teacher.kelas %> </br>
Mapel :   <%= @teacher.mapel %> </br>

<% if flash[:notice].present? %>
    <%= flash[:notice] %>
<% end %>