<% if flash[:notice].present? %>
    <%= flash[:notice] %>
    </br>
<% end %>
<%= link_to 'New exam', new_exam_path %>

</br>
</br>
<table>
    <tr>
        <td>Title</td>
        <td>Mapel</td>       
        <td>Duration</td>
        <td>Nilai</td>   
        <td>Status</td>
        <td>Level</td>
        <td>Student ID</td>
    </tr>
    <% @exams.each do |exam| %>
        <tr>           
            <td><%= exam.title %></td>            
            <td> <%= exam.mapel %></td>
            <td> <%= exam.duration %></td>      
            <td> <%= exam.nilai %></td>   
            <td> <%= exam.status %></td> 
            <td> <%= exam.level %></td> 
            <td> <%= exam.student_id %></td>       
            <td> <%= link_to 'Detail', exam_path(exam) %> | <%= link_to 'Edit', edit_exam_path(exam) %></td> 
            <td> <%= link_to 'Delete', exam_path(exam) , method: :delete, data: {confirm: 'Are you sure?'} %> </td>
        </tr>    
    <% end %>
</table>

