<%= link_to '<-- Back', exams_path %>
</br>
<%= form_for(@exam) do |f| %>
    <%= f.label :title %> </br>
    <%= f.text_field :title %> </br>   
    <%= f.label :mapel %> </br>
    <%= f.text_field :mapel %> </br>    
    <%= f.label :duration %> </br>
    <%= f.text_field :duration %> </br>
    <%= f.label :nilai %> </br>
    <%= f.text_field :nilai %> </br>     
    <%= f.label :status %> </br>
    <%= f.text_field :status %> </br>   
    <%= f.label :level %> </br>
    <%= f.text_field :level %> </br> 
    <%= f.label :student_id %> </br>
    <%= f.text_field :student_id %> </br>      
    </br>



    <%= f.submit "Save" %>
<% end %>