<%= link_to '<-- Back', exams_path %>
</br>
Title:   <%= @exam.title %> </br>
Mapel   :   <%= @exam.mapel %> </br>
Duration   :   <%= @exam.duration %>  </br>
Nilai :   <%= @exam.nilai %> </br>
Status :   <%= @exam.status %> </br>
Level :   <%= @exam.level %> </br>
Student ID :   <%= @exam.student_id %> </br>

<% if flash[:notice].present? %>
    <%= flash[:notice] %>
<% end %>